p{
    font-family: 'Calibri', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 2px;
    margin-left: 5px;
}
 
span{
    background-color: #EBBE4D;
    }

#hero-title{
    text-align: center;
}
nav{
    display: flex;
    margin-top: 3em;
    justify-content: center;
    }

nav a{
    font-size: 24px;
    background-color: #EBBE4D;
    padding: 5px 7px;

    
}

div.CV{
    display: inline-block;
    background-color: #D3D3D3;
    margin-left: 15em;
    margin-right: 15em;
    margin-bottom: 15em;;

}

.CV h1 {
    text-align: center;
}